*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.loader{
    float: right;
    margin:40px 40px 10px auto;
    background-color: transparent;
    border:4px solid rgb(27, 26, 26);
    border-top:4px solid rgb(45, 55, 255);
    border-radius: 50%;
    width:30px;
    height:30px;
    animation: loader infinite 0.8s ;
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body{
    background-color: rgb(62, 49, 78);
}

h1{
    font-size:70px
}


#form{
    padding: 20px;
    background-color: rgba(148, 124, 203, 0.966);
    width:650px;
    height:auto;
    font-size: xx-large;
    position: relative;
    left:450px;
    top:150px;
    color:white;
    border-radius: 5px;
    border: none;
    box-shadow: 8px 8px 22px rgb(100, 43, 158);
}

input[type="text"],input[type="email"],input[type="password"]{
    outline: none;
    border: 2px solid rgb(105, 28, 131);
    border-radius: 3px;
    padding: 2px 8px;
    height: 50px;
    font-size: large;
    width:350px
}

